.card {
  width: 300px;
  height: 450px;
  border-radius: 3px;
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-top: 50px;
}

.card:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.cardInfo {
  transform: translateY(0);
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  height: 100%;
  padding: 10px;
  color: #fff;
  transition: all 0.25s ease-in;
}

.card:hover .cardInfo {
  transform: translateY(100%);
}

.cardTitle {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 1.3px;
  line-height: 33px;
  margin: 0;
}

.cardDescription {
  font-size: 16px;
  letter-spacing: 1.3px;
  line-height: 22px;
}

.cardWaves {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 143px;
  bottom: 0;
  left: 0;
  background-size: cover;
  transform-origin: center bottom;
  z-index: 11;
  animation: waves 3s linear infinite;
  opacity: 0.6;
}

.cardWaves::before {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 143px;
  bottom: 0;
  left: 0;
  background-size: cover;
  transform-origin: center bottom;
  z-index: 11;
  animation: waves 3s linear infinite;
  animation-direction: reverse;
  opacity: 0.8;
}

.cardWaves::after {
  position: absolute;
  content: "";
  display: inline-block;
  width: 100%;
  height: 143px;
  top: 0;
  left: 0;
  background-size: cover;
  transform-origin: center bottom;
  z-index: 11;
  animation: waves 3s linear infinite;
  animation-delay: -5s;
  opacity: 0.4;
}

.estiloTag {
    font-family: 'Nothing You Could Do', cursive;
    margin: 0;
    padding: 0;
    color: grey;
    font-size: 14px;
    margin-left: 5px;
    margin-top: 5px;
}

@keyframes waves {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 1360px;
  }
}

@media screen and (max-width: 720px) {
  .card {
  margin-top: 0px;
}
}