.contenedor {
    background: linear-gradient(130deg, #364040, #402f3b);
    background-size: 100% 100%;
    height: 100vh;
}
.titulo {
    color: #00e8fc;
    margin: 10px 0;
    font-size: 1.15em;
    text-align: center;
}
.imagen {
    /* margin-left: 5%; */
    width: 100%;
    height: 180px;
}
.texto {
    text-align: center;
    /* position: absolute;
    left: 5%; */
    width: 90%;
    margin-left: 5%;
}
.boton {
    background-color: transparent;
    color: #d9ffff;
    border-color: #d9ffff;
    font-size: 1.1em;
    width: 40%;
    position: absolute;
    left: 30%;
    margin-top: 15px;
}
.link,
.link:link,
.link:visited,
.link:hover,
.link:active {
    text-decoration: none;
    color: #d9ffff;
}

.boton:hover {
    border-color: red;
    cursor: pointer;
}
