.modal {
    box-shadow: 0 1px 4px #000000;
    border-radius: 25px;
    background-color: #364040;
    border: 2px solid #D9FFFF;
    padding: 15px;
    width: 40%;
    z-index: 5;
    position: absolute;
    top: 50%;
    left: 30%;
    text-align: center;
    font-size: 24px;
}
.texto {
    color: #D9FFFF;
    padding-bottom: 25px;
}
.btn {
    color: #d9ffff;
    border: 2px solid #d9ffff;
	border-radius: 60px;
    width: 150px;
    height: 45px;
    padding: 0;
    margin: 5px 0;
    background: linear-gradient(to left, transparent 50%, #d9ffff 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
    font-size: 24px;
}
.btn:hover {
    cursor: pointer;
    background-position: left;
    color: black;
}
/* Movil */
@media only screen and (max-width: 767px) {
    .modal {
        width: 95%;
        margin-left: 2.5%;
        left: 0;
    }
}
