input,
textarea {
    border: none;
    padding: 1rem;
    width: 100%;
    height: 40%;
    transition: 200ms;
}

input[type='text'],
input[type='email'],
input[type='number'],
input[type='text']:not(output):not(:focus),
input[type='email']:not(output):not(:focus),
input[type='number']:not(output):not(:focus),
textarea {
    border-bottom: 1px solid #fafafa;
    background: transparent;
    color: #d9ffff;
    /* font-size: 1.8rem; */
    /* box-shadow: none; */
    outline: none;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='number']:focus,
input[type='text']:not(output):focus,
input[type='email']:not(output):focus,
input[type='number']:not(output):focus,
textarea:focus {
    border-bottom: 1px solid #f300b4;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type='number'] {
    -moz-appearance: textfield;
}
::placeholder {
    color: #fafafa;
}

.contacto {
    width: 60%;
    margin-left: 20%;
    margin-top: 10vh;
    font-size: 1.5em;
}
.contacto textarea {
    resize: none;
}
.estiloTag {
    font-family: 'Nothing You Could Do', cursive;
    margin: 0;
    padding: 0;
    color: grey;
    font-size: 0.9em;
    margin-left: -15px;
    margin-top: 5px;
}
.boton {
    float: right;
    color: #d9ffff;
    border: 2px solid #d9ffff;
    width: 150px;
    height: 50px;
    margin-top: 50px;
    padding: 0;
    background: linear-gradient(to left, transparent 50%, #d9ffff 50%) right;
    background-size: 200%;
    transition: 0.5s ease-out;
}

.boton:hover {
    cursor: pointer;
    background-position: left;
    color: black;
    border-color: red;
}

.titulo {
    font-family: 'Indie Flower', cursive;
    margin: 0;
    font-size: 2em;
    color: greenyellow;
}
