footer {
	box-sizing: content-box;
	margin: 60px auto;
}

#social {
	height: 75px;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#social a {
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 50px;
	width: 50px;
	margin: 0 15px;
}

#social a:nth-of-type(1) {
	background-image: url("../assets/social/twitter.png");
}

#social a:nth-of-type(2) {
	background-image: url("../assets/social/linkedin.png");
}

#social a:nth-of-type(3) {
	background-image: url("../assets/social/github.png");
}

#social a:nth-of-type(4) {
	background-image: url("../assets/social/email.png");
}

#social a:nth-of-type(5) {
	background-image: url("../assets/social/whatsapp.png");
}

#social a:hover {
	transform: scale(1.5);
	cursor: pointer;
}