.home {
    width: 50%;
    height: auto;
    margin: 250px auto;
    overflow: hidden;
}

/* .boton {
    color: #d9ffff;
    border-color: #d9ffff;
    width: 150px;
    height: 50px;
    margin-left: calc(50% - 75px);
    background: linear-gradient(to left, transparent 50%, #d9ffff 50%) right;
    background-size: 200%;
    transition: 0.5s ease;
    font-size: 24px;
} 
.boton:hover {
	cursor: pointer;
	background-position: left;
	color: black;
}
*/
.estiloTag {
    font-family: 'Nothing You Could Do', cursive;
    margin: 0;
    padding: 0;
    color: grey;
    font-size: 14px;
    margin-left: 0px;
    margin-top: 5px;
}
.estiloTag:hover {
    cursor: default;
}
.nombre span {
    font-family: 'Nothing You Could Do', cursive;
    color: #00e8fc;
    font-weight: bold;
    font-size: 64px;
    transform: translateX(-2rem);
    -webkit-transform: translateX(-2rem);
    opacity: 0;
    animation-delay: 0.2s;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
    animation-name: animacionTitulo;
}
.nombre span:nth-child(2) {
    animation-delay: 0.4s;
}
.nombre span:nth-child(3) {
    animation-delay: 0.6s;
}
.nombre span:nth-child(4) {
    animation-delay: 0.8s;
}
.nombre span:nth-child(5) {
    animation-delay: 1s;
}
.nombre span:nth-child(6) {
    animation-delay: 1.2s;
}
.nombre span:nth-child(7) {
    animation-delay: 1.4s;
}
.nombre span:nth-child(8) {
    animation-delay: 1.6s;
}
.nombre span:nth-child(9) {
    animation-delay: 1.8s;
}
.nombre span:nth-child(10) {
    animation-delay: 2s;
}
.nombre span:nth-child(11) {
    animation-delay: 2.2s;
}
.nombre span:nth-child(12) {
    animation-delay: 2.4s;
}
.nombre span:nth-child(13) {
    animation-delay: 2.6s;
}
.texto {
    font-size: 24px;
}
@keyframes animacionTitulo {
    0% {
        transform: translateX(-2rem);
        -webkit-transform: translateX(-2rem);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        -webkit-transform: translateX(0);
        opacity: 1;
    }
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 640px) {
    .home {
        width: 90%;
        height: auto;
        margin-top: 50px;
        margin-left: 5%;
    }
}
@media only screen and (min-width: 641px) and (max-width: 1080px) {
    .home {
        width: 80%;
        height: auto;
        margin: 150px auto;
    }
}
/* BLACK HOLE */
.star {
    z-index: -1;
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #00e8fc;
    animation: drain 4s ease-in infinite;
    border-radius: 50%;
    opacity: 0;
}
.star:first-of-type {
    top: 0%;
    left: 5%;
}
.star:nth-of-type(2) {
    top: 75%;
    left: 90%;
    animation-delay: 1s;
}
.star:nth-of-type(3) {
    top: 90%;
    left: 140%;
    animation-delay: 3s;
}
.star:nth-of-type(4) {
    top: 60%;
    left: 1%;
    animation-delay: 1.8s;
}
.star:nth-of-type(5) {
    top: 0%;
    left: 90%;
    animation-delay: 2s;
}
.boton {
    color: black;
    border-color: #d9ffff;
    width: 100px;
    height: 100px;
    margin-left: calc(50% - 50px);
    background-color: black;
    background-size: 200%;
    transition: 0.5s ease;
    font-size: 24px;
    border-radius: 50%;
    box-shadow: 0 0 10px 1px #d9ffff;
    animation: enterColor 9s ease-in infinite;
    z-index: 2;
}
.boton:hover {
    cursor: pointer;
    color: #d9ffff;
}
@keyframes drain {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    50% {
        opacity: 1;
        transform: scale(0.75);
    }

    100% {
        opacity: 0;
        top: 550px;
        left: 50%;
        transform: scale(1);
    }
}
@keyframes enterColor {
    0% {
        color: black;
    }
    50% {
        color: #d9ffff;
    }
}
@media only screen and (max-width: 1080px) {
    @keyframes drain {
        0% {
            opacity: 0;
            transform: scale(0.5);
        }

        50% {
            opacity: 1;
            transform: scale(0.75);
        }

        100% {
            opacity: 0;
            top: 550px;
            left: 50%;
            transform: scale(1);
        }
    }
}
