.sticky {
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 5%;
	width: 90%;
	z-index: 5;
}

.nav>.nav-header {
	display: inline;
}

.nav>.nav-header>.nav-title {
	font-family: 'Nothing You Could Do', cursive;
	color: #00e8fc;
	display: inline-block;
	font-size: 24px;
	padding: 10px;
}

.nav>.nav-btn {
	display: none;
}

.nav>.nav-links {
	display: inline;
	float: right;
	font-size: 18px;
}

.nav>.nav-links>a {
	display: inline-block;
	padding: 13px 10px;
	text-decoration: none;
	color: #d9ffff;
	box-sizing: border-box;
	border: 2px solid transparent;
}

.nav>.nav-links>a:hover {
	border-radius: 5%;
	background-color: #364040;
	color: #00e8fc;
	border-color: #00e8fc;
}

.nav>#nav-check {
	display: none;
}

@media (max-width:600px) {
	.nav>.nav-btn {
		display: inline-block;
		position: absolute;
		right: 0px;
		top: 0px;
	}

	.nav>.nav-btn>label {
		display: inline-block;
		width: 50px;
		height: 50px;
		padding: 13px;
	}

	.nav>.nav-btn>label:hover,
	.nav #nav-check:checked~.nav-btn>label {
		cursor: pointer;
	}

	.nav>.nav-btn>label>span {
		display: block;
		width: 25px;
		height: 10px;
		border-top: 2px solid #00e8fc;
	}

	.nav>.nav-links {
		position: absolute;
		display: block;
		width: 110%;
		background-image: url("../assets/backgroundStars.png");
		background-color: black;
		transition: all 0.3s ease-in;
		overflow-y: hidden;
		top: 50px;
		left: -20px;
	}

	.nav>.nav-links>a {
		display: block;
		width: 100%;
		text-align: center;
	}


	/* .nav>#nav-check:not(:checked)~.nav-links {
		height: 0px;
	}


	.nav>#nav-check:checked~.nav-links {
		height: calc(50vh - 50px);
		padding-bottom: 15px;
		overflow-y: auto;
	} */

	.ocultarMenu {
		height: 0px;
	}
}