.sol0 {
    position: absolute;
    top: 350px;
    left: 22%;
    transform: scale(0.5, 0.5) rotate(60deg);
}
.sol1 {
    position: absolute;
    top: 250px;
    left: 57%;
    transform: scale(0.25, 0.25) rotate(330deg);
}
.sol2 {
    position: absolute;
    top: 650px;
    left: 83%;
    transform: scale(0.75, 0.75) rotate(22deg);
    /* transform: scale(1.5); */
}
.sol3 {
    position: absolute;
    top: 850px;
    left: 39%;
    transform: scale(0.35, 0.35) rotate(0deg);
}

.contenedorSoles:hover > * {
    opacity: 0.5;
    transform: scale(0.1);
    transition-duration: 2s;
}
.contenedorSoles > *:hover {
    opacity: 1;
    transform: scale(1.6);
}

.texto {
    position: absolute;
    top: 25%;
    left: 35%;
    width: 30%;
}
