.proyecto {
    margin-top: 75px;
    width: 30%;
    height: 650px;
    float: left;
    margin-left: 2.5%;
    background-color: papayawhip;
    border: 2px solid blue;
}
.proyecto img {
    height: 100%;
    width: 100%;
    filter: grayscale(100%);
}
.proyecto:hover img {
    filter: grayscale(0%);
    cursor: pointer;
}
.sol0 {
    position: absolute;
    top: 250px;
    left: 25%;
    transform: scale(0.5, 0.5);
}
.sol1 {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: scale(0.5, 0.5) rotate(120deg);
}
.sol2 {
    position: absolute;
    top: 250px;
    left: 75%;
    transform: scale(0.5, 0.5) rotate(240deg);
}
