.contenedor {
    margin-top: 100px;
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
}

.texto {
    box-sizing: border-box;
    width: 50%;
    font-size: 24px;
    margin-left: 5%;
}
.parrafo2 {
    margin: 25px auto;
}
.titulo {
    font-family: 'Indie Flower', cursive;
    margin: 0;
    font-size: 48px;
    color: #00e8fc;
}
.esferaGrupo {
    box-sizing: border-box;
    width: 50%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.estiloTag {
    font-family: 'Nothing You Could Do', cursive;
    margin: 0;
    padding: 0;
    color: grey;
    font-size: 14px;
}
.esfera {
    width: 90%;
    margin-left: 5%;
}

/* RESPONSIVE DESIGN */
@media only screen and (max-width: 640px) {
    .texto {
        font-size: 18px;
    }
}
@media only screen and (max-width: 1080px) {
    .contenedor {
        margin-top: 10vh;
        display: inline;
        height: auto;
    }
    .texto {
        width: 90%;
        margin-left: 5%;
    }
    .esferaGrupo {
        box-sizing: border-box;
        width: 90%;
        margin-left: 5%;
        margin-right: 5%;
    }
}
