.contenedor {
    margin-top: 10vh;
    display: flex;
}

.texto {
    box-sizing: border-box;
    width: 50%;
    font-size: 1.5em;
    margin-left: 5%;
    margin-top: 2vh;
}
.parrafo2 {
    margin: 25px auto;
}
.texto h2 {
    font-family: 'Indie Flower', cursive;
    margin: 0;
    font-size: 2em;
    color: greenyellow;
}
.esfera {
    box-sizing: border-box;
    width: 50%;
    margin-left: 2.5%;
    margin-right: 2.5%;
}
.estiloTag {
    font-family: 'Nothing You Could Do', cursive;
    margin: 0;
    padding: 0;
    color: grey;
    font-size: 0.7em;
}
