.ui {
    position: absolute;
    z-index: -5;
}
.cover {
    position: absolute;
    width: 380px;
    height: 380px;
    background: black;
    background-size: cover;
    background-position: center;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 0 0 100px 15px #d4ea14;
    overflow: hidden;
}
.Hijo {
    position: absolute;
    width: 100%;
}

/* 
Colores del Sol:
#d4ea14
#ed2408
 */
