.ui {
    position: absolute;
    /* top: 50%;
    left: 50%; */
}
.cover {
    position: absolute;
    /* top: 50%;
    left: 50%; */
    width: 370px;
    height: 370px;
    background: #000;
    background-image: url('../resources/ecolegas.png');
    background-size: cover;
    background-position: center;
    transform: translate(-50%, -50%);
    border-radius: 100%;
    box-shadow: 0 0 50px 10px rgba(200, 0, 0, 0.5);
    filter: grayscale(100%);
}
.cover:hover {
    filter: grayscale(0%);
}
.sun {
    position: absolute;
    width: 600px;
    height: 600px;
    transform: translate(-50%, -50%);
    background: #000;
    border-radius: 50%;
    filter: blur(10px) contrast(15);
}
.sunBorder {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    border: 15px solid yellow;
    border-radius: 100%;
    box-sizing: border-box;
    transform: translate(-50%, -50%);
}
.sunFire {
    position: absolute;
    top: 50%;
    left: 50%;
    transform-origin: 0 0;
}
.sunFireInner {
    box-sizing: border-box;
}
.sunFire:nth-child(1) {
    animation: sunFire 7484ms infinite linear;
}
.sunFire:nth-child(1) .sunFireInner {
    width: 119px;
    height: 119px;
    border-top: 8px solid orange;
    border-right: 12px solid orange;
    border-bottom: 13px solid orange;
    border-left: 10px solid orange;
    border-radius: 54% 68% 60% 49%;

    animation: sunFireInner 4607ms infinite alternate linear;
}
.sunFire:nth-child(2) {
    animation: sunFire 9519ms infinite linear;
}
.sunFire:nth-child(2) .sunFireInner {
    width: 46px;
    height: 46px;
    border-top: 14px solid orange;
    border-right: 14px solid orange;
    border-bottom: 9px solid orange;
    border-left: 11px solid orange;
    border-radius: 49% 58% 44% 67%;
    animation: sunFireInner 2617ms infinite alternate linear;
}
.sunFire:nth-child(3) {
    animation: sunFire 11724ms infinite linear;
}
.sunFire:nth-child(3) .sunFireInner {
    width: 137px;
    height: 137px;
    border-top: 10px solid orange;
    border-right: 6px solid orange;
    border-bottom: 13px solid orange;
    border-left: 12px solid orange;
    border-radius: 50% 64% 61% 44%;
    animation: sunFireInner 2158ms infinite alternate linear;
}
.sunFire:nth-child(4) {
    animation: sunFire 13708ms infinite linear;
}
.sunFire:nth-child(4) .sunFireInner {
    width: 136px;
    height: 136px;
    border-top: 9px solid orange;
    border-right: 7px solid orange;
    border-bottom: 12px solid orange;
    border-left: 8px solid orange;
    border-radius: 64% 13% 64% 14%;
    animation: sunFireInner 4326ms infinite alternate linear;
}
.sunFire:nth-child(5) {
    animation: sunFire 7317ms infinite linear;
}
.sunFire:nth-child(5) .sunFireInner {
    width: 133px;
    height: 133px;
    border-top: 10px solid orange;
    border-right: 12px solid orange;
    border-bottom: 13px solid orange;
    border-left: 9px solid orange;
    border-radius: 28% 39% 41% 66%;
    animation: sunFireInner 4516ms infinite alternate linear;
}
.sunFire:nth-child(6) {
    animation: sunFire 7113ms infinite linear;
}
.sunFire:nth-child(6) .sunFireInner {
    width: 61px;
    height: 61px;
    border-top: 10px solid orange;
    border-right: 10px solid orange;
    border-bottom: 8px solid orange;
    border-left: 6px solid orange;
    border-radius: 65% 77% 28% 69%;
    animation: sunFireInner 3130ms infinite alternate linear;
}
.sunFire:nth-child(7) {
    animation: sunFire 6971ms infinite linear;
}
.sunFire:nth-child(7) .sunFireInner {
    width: 80px;
    height: 80px;
    border-top: 8px solid orange;
    border-right: 15px solid orange;
    border-bottom: 13px solid orange;
    border-left: 12px solid orange;
    border-radius: 28% 19% 34% 46%;
    animation: sunFireInner 4949ms infinite alternate linear;
}
.sunFire:nth-child(8) {
    animation: sunFire 8999ms infinite linear;
}
.sunFire:nth-child(8) .sunFireInner {
    width: 87px;
    height: 87px;
    border-top: 14px solid orange;
    border-right: 15px solid orange;
    border-bottom: 8px solid orange;
    border-left: 7px solid orange;
    border-radius: 79% 56% 19% 26%;
    animation: sunFireInner 3547ms infinite alternate linear;
}
.sunFire:nth-child(9) {
    animation: sunFire 6566ms infinite linear;
}
.sunFire:nth-child(9) .sunFireInner {
    width: 111px;
    height: 111px;
    border-top: 14px solid orange;
    border-right: 14px solid orange;
    border-bottom: 13px solid orange;
    border-left: 6px solid orange;
    border-radius: 56% 62% 16% 57%;
    animation: sunFireInner 3422ms infinite alternate linear;
}
.sunFire:nth-child(10) {
    animation: sunFire 10510ms infinite linear;
}
.sunFire:nth-child(10) .sunFireInner {
    width: 66px;
    height: 66px;
    border-top: 8px solid orange;
    border-right: 7px solid orange;
    border-bottom: 15px solid orange;
    border-left: 14px solid orange;
    border-radius: 69% 52% 56% 50%;
    animation: sunFireInner 3184ms infinite alternate linear;
}
.sunFire:nth-child(11) {
    animation: sunFire 7603ms infinite linear;
}
.sunFire:nth-child(11) .sunFireInner {
    width: 82px;
    height: 82px;
    border-top: 11px solid orange;
    border-right: 7px solid orange;
    border-bottom: 7px solid orange;
    border-left: 11px solid orange;
    border-radius: 78% 38% 11% 80%;
    animation: sunFireInner 4804ms infinite alternate linear;
}
.sunFire:nth-child(12) {
    animation: sunFire 9608ms infinite linear;
}
.sunFire:nth-child(12) .sunFireInner {
    width: 126px;
    height: 126px;
    border-top: 13px solid orange;
    border-right: 7px solid orange;
    border-bottom: 6px solid orange;
    border-left: 14px solid orange;
    border-radius: 24% 19% 29% 48%;
    animation: sunFireInner 4229ms infinite alternate linear;
}
.sunFire:nth-child(13) {
    animation: sunFire 9464ms infinite linear;
}
.sunFire:nth-child(13) .sunFireInner {
    width: 106px;
    height: 106px;
    border-top: 13px solid orange;
    border-right: 8px solid orange;
    border-bottom: 6px solid orange;
    border-left: 15px solid orange;
    border-radius: 11% 44% 39% 41%;
    animation: sunFireInner 4715ms infinite alternate linear;
}
.sunFire:nth-child(14) {
    animation: sunFire 12988ms infinite linear;
}
.sunFire:nth-child(14) .sunFireInner {
    width: 95px;
    height: 95px;
    border-top: 8px solid orange;
    border-right: 13px solid orange;
    border-bottom: 10px solid orange;
    border-left: 6px solid orange;
    border-radius: 31% 19% 77% 42%;
    animation: sunFireInner 4841ms infinite alternate linear;
}
.sunFire:nth-child(15) {
    animation: sunFire 5696ms infinite linear;
}
.sunFire:nth-child(15) .sunFireInner {
    width: 126px;
    height: 126px;
    border-top: 15px solid orange;
    border-right: 11px solid orange;
    border-bottom: 9px solid orange;
    border-left: 15px solid orange;
    border-radius: 78% 43% 44% 61%;
    animation: sunFireInner 2949ms infinite alternate linear;
}
.sunFire:nth-child(16) {
    animation: sunFire 5026ms infinite linear;
}
.sunFire:nth-child(16) .sunFireInner {
    width: 79px;
    height: 79px;
    border-top: 6px solid orange;
    border-right: 15px solid orange;
    border-bottom: 8px solid orange;
    border-left: 14px solid orange;
    border-radius: 64% 69% 31% 39%;
    animation: sunFireInner 3209ms infinite alternate linear;
}
.sunFire:nth-child(17) {
    animation: sunFire 10238ms infinite linear;
}
.sunFire:nth-child(17) .sunFireInner {
    width: 129px;
    height: 129px;
    border-top: 9px solid orange;
    border-right: 9px solid orange;
    border-bottom: 12px solid orange;
    border-left: 8px solid orange;
    border-radius: 24% 54% 20% 22%;
    animation: sunFireInner 3044ms infinite alternate linear;
}
.sunFire:nth-child(18) {
    animation: sunFire 12974ms infinite linear;
}
.sunFire:nth-child(18) .sunFireInner {
    width: 112px;
    height: 112px;
    border-top: 11px solid orange;
    border-right: 15px solid orange;
    border-bottom: 10px solid orange;
    border-left: 9px solid orange;
    border-radius: 60% 32% 80% 48%;
    animation: sunFireInner 2280ms infinite alternate linear;
}
.sunFire:nth-child(19) {
    animation: sunFire 10534ms infinite linear;
}
.sunFire:nth-child(19) .sunFireInner {
    width: 92px;
    height: 92px;
    border-top: 11px solid orange;
    border-right: 12px solid orange;
    border-bottom: 13px solid orange;
    border-left: 14px solid orange;
    border-radius: 45% 24% 60% 15%;
    animation: sunFireInner 3845ms infinite alternate linear;
}
.sunFire:nth-child(20) {
    animation: sunFire 7756ms infinite linear;
}
.sunFire:nth-child(20) .sunFireInner {
    width: 85px;
    height: 85px;
    border-top: 12px solid orange;
    border-right: 12px solid orange;
    border-bottom: 11px solid orange;
    border-left: 11px solid orange;
    border-radius: 80% 47% 47% 69%;
    animation: sunFireInner 4802ms infinite alternate linear;
}

@keyframes sunFire {
    0% {
        transform: rotateZ(0deg);
    }
    100% {
        transform: rotateZ(360deg);
    }
}
@keyframes sunFireInner {
    0% {
        transform: translate(90px, -50%) rotateZ(0deg);
    }
    50% {
        transform: translate(140px, -50%) rotateZ(180deg);
    }
    100% {
        transform: translate(90px, -50%) rotateZ(360deg);
    }
}
