.ui {
    position: absolute;
    z-index: -5;
}
.cover {
    position: absolute;
    width: 380px;
    height: 380px;
    background: black;
    background-size: cover;
    background-position: center;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 100%;
    -webkit-box-shadow: 0 0 50px 15px #d4ea14;
    box-shadow: 0 0 50px 15px #d4ea14;
    overflow: hidden;
}
.Hijo {
    position: absolute;
    width: 100%;
}

/* HOVER */
.cover:hover {
    cursor: pointer;
}

/* 
Colores del Sol:
#d4ea14
#ed2408
 */
