@tailwind base;
@tailwind components;
@tailwind utilities;

.maquina-escribir {
	display: block;
	width: 23ch;
	white-space: nowrap;
	overflow: hidden;
	border-right: 4px solid;
	animation: typing 2s steps(23), blink .5s step-end infinite alternate;
}

@keyframes typing {
	from {
		width: 0
	}
}

@keyframes blink {
	50% {
		border-color: transparent
	}
}